* {
  margin: 0;
  padding: 0;
}


@font-face {
  src: url("../fonts/OpenSans-Regular.woff"), url("../fonts/OpenSans-Regular.woff2"), url("../fonts/OpenSans-Regular.ttf");
  font-family: opensans;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.woff2"), url("../fonts/OpenSans-Bold.ttf");
  font-family: opensans;
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*-------------------------------------------------> Начало POPUP <-------------------------------------------------------------------*/


.-hidden {
  display: none;
}

.popup {
  width: 100vw;
  height: 100vh;
  display: flex;  
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 3;
}

.popup::after {
  content: "";
  display: block;

  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;

  position: fixed;
  z-index: 1;
}

.popup-container {
  font-family: opensans, sans-serif;
  width: 390px;

  box-sizing: border-box;
  padding: 50px 30px;
  background-color: #ffffff;
  font-size: 13px;

  position: relative;
  z-index: 2;
}

.popup-title {
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.popup-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 14px auto 0;
}

.popup-select {
  display: flex;
  flex-direction: column;
}

.select {
  width: 100%;
  height: 48px;
  margin-top: 8px;
  margin-bottom: 33px;
  padding-left: 19px;
  color: #818382;

  background-color: #f4f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 95%;

  border: none;
  outline: none;

  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.popup-radio {
  display: flex;

  margin-top: 9px;
  margin-bottom: 32px;
}

.radio-group {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-group + .checked-yes::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url("../svg/form-empty-circle.svg");
}

.radio-group + .checked-no::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url("../svg/form-empty-circle.svg");
}

.radio-group:checked + .checked-no::before {
  background-image: url("../svg/form-circle.svg");
}

.radio-group:checked + .checked-yes::before {
  background-image: url("../svg/form-circle.svg");
}

.checked-yes,
.checked-no {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.popup-textarea {
  display: flex;
  flex-direction: column;
}

.textarea {
  font-family: opensans, sans-serif;
  min-height: 130px;
  resize: none;
  margin-top: 13px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f4f7f6;

  border: none;
  outline: none;
}

.textarea:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.popup-send {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-top: 27px;
  background-color: #b59f5b;

  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  outline: none;
}

.popup-send:hover {
  background-color: #323232;
}

.popup-close {
  position: absolute;
  top: -25px;
  right: 0;

  width: 16px;
  height: 19px;

  background: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../svg/form-x.svg");

  border: none;
  outline: none;
  font-size: 0;

  cursor: pointer;
}

/*--------------------------------------------------> Конец POPUP <--------------------------------------------------------------------*/

/*------------------------------------------------ -> Начало HEADER <------------------------------------------------------------------*/

.header::before {
  content: "";
  display: block;

  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;

  position: absolute;
  z-index: 1;
}

.header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;

  font-family: opensans, sans-serif;
  position: relative;
  z-index: 2;
}

.header-intro {
  display: flex;
  justify-content: space-between;

  max-width: 1167px;
  margin: 0 auto;
  padding-top: 29px;

  position: relative;
  z-index: 3;
}

.header-intro-logo {
  display: block;
  width: 179px;
}

.header-intro-nav {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}

.button-nav {
  display: none;
}

.header-intro-nav-item {
  display: inline;
  padding-left: 34px;
}

.header-intro-nav-link {
  text-decoration: none;
  color: #ffffff;
}

.header-intro-nav-link:hover {
  text-decoration: underline;
}

.header-title {
  width: 690px;

  font-size: 45px;
  font-weight: 700;
  line-height: 75px;

  text-transform: uppercase;
  color: #ffffff;

  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 101px;
  padding-bottom: 122px;

  position: relative;
  z-index: 3;
}

/*-------------------------------------------------> Конец HEADER <------------------------------------------------------------------*/

/*-------------------------------------------------> Начало TRENDS <-----------------------------------------------------------------*/

.trends {
  margin:  64px 0;
  font-family: opensans, sans-serif;
}

.trends-title {
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 26px;
}

.trends-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 8px auto 0;
}

.trends-posts {
  display: flex;
  align-items: stretch;
}

.trend {
  display: flex;
  align-items: flex-end;
  width: 25%;
  min-height: 320px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #eff6f1;

  position: relative;
  z-index: 1;
}

.trend:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 1;
}

.first-trend {
  background-image: url("../images/trend1.jpg");
}

.second-trend {
  background-image: url("../images/trend2.jpg");
}

.third-trend {
  background-image: url("../images/trend3.jpg");
}

.fourth-trend {
  background-image: url("../images/trend4.jpg");
}

.trend:nth-child(-n + 3) {
  margin-right: 4px;
}

.trend-frame {
  padding: 31px 5px 30px 35px;
  margin: 16px 20px;
  border: 3px solid rgba(181, 159, 91, 0.6);

  position: relative;
  z-index: 2;
}

.trend-link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  position: relative;
  z-index: 2;

  margin-top: 7px;
}

.trend-link:hover {
  color: #b59f5b;
}

/*-------------------------------------------------> Конец TRENDS <-----------------------------------------------------------------*/

/*-------------------------------------------------> Начало CONTENT <---------------------------------------------------------------*/

.main {
  display: flex;
  max-width: 1170px;
  margin:  62px auto;
}

.content {
  margin-right: 120px;
}

.content-column {
  display: flex;
  font-family: opensans, sans-serif;
}

.content-column:nth-child(n + 2) {
  margin-top: 60px;
}

.content-picture {
  width: 381px;
  height: 100%;
  background-color: #eff6e1;
}

.content-frame {
  width: 370px;
  padding-left: 30px;
}

.content-cotegory {
  list-style-type: none;
}

.cotegory-list {
  display: inline;
}

.cotegory-link {
  color: #b59f5b;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 14px;
}

.cotegory-link:hover {
  text-decoration: underline;
}

.content-link {
  display: inline-block;
  text-decoration: none;
  color: #0f0d0e;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
}

.content-link:hover {
  color: #b59f5b;
}

.time-author {
  margin-top: 22px;
  margin-bottom: 45px;
}

.content-time {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
  margin-right: 8px;
}

.content-author {
  color: #000000;
  font-weight: 700;
  font-size: 12px;
}

.content-text {
  color: #0f0d0e;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.content-text-enter {
  padding-bottom: 9px;
  color: #0f0d0e;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

/*-------------------------------------------------> Конец CONTENT <---------------------------------------------------------------*/

/*-------------------------------------------------> Начало SIDEBAR <--------------------------------------------------------------*/

.sidebar {
  width: 286px;
  margin-right: 15px;
  font-family: opensans, sans-serif;
}

.sidebar-title {
  color: #0f0d0e;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 20px;
}

.themes {
    margin-bottom: 10px;
}

.sidebar-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;

  margin: 8px auto 0;
}

.sidebar-post {
  display: flex;
  margin-bottom: 19px;
}

.post-frame {
  margin-left: 16px;
}

.post-picture {
  width: 70px;
}

.post-link {
  display: inline-block;
  text-decoration: none;
  color: #0f0d0e;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin-top: 2px;
}

.post-link:hover {
  color: #b59f5b;
}

.post-time {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
}

.search {
  display: flex;
  margin-top: 70px;
}

.field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;

  font-size: 13px;
  background-color: #f4f7f6;
  padding-left: 18px;

  border: none;
  outline: none;
}

.field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.button-search {
  width: 60px;
  height: 48px;
  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;

  border: none;
  outline: none;
}

.button-search:hover {
  background-color: #323232;
}

.sidebar-subscribe {
  margin-top: 57px;
}

.adress {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;

  font-size: 13px;
  background-color: #f4f7f6;
  padding-left: 18px;

  border: none;
  outline: none;
}

.adress:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.button-subscribe {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-top: 20px;
  background-color: #b59f5b;

  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  outline: none;
}

.button-subscribe:hover {
  background-color: #323232;
}

.sidebar-tags {
  margin-top: 60px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.tags-list {
  list-style-type: none;
  border: 3px solid #eeeeee;

  padding: 5px 13px;
  margin-top: 3px;
  margin-right: 3px;
}

.tags-list:hover {
  border: 3px solid #b59f5b;
}

.tags-link {
  color: #0f0d0e;
  text-decoration: none;
}

.sidebar-themes {
  margin-top: 47px;
  line-height: 33px;
}

.themes-list {
  list-style-type: none;
}

.themes-link {
  display: inline-block;
  width: 272px;
  height: 47px;

  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #eeeeee;

  font-size: 14px;
  font-weight: 700;
}

.themes-link:hover {
  color: #b59f5b;
}

.link-num {
  color: #b59f5b;
  font-size: 12px;
  margin-left: 5px;
  vertical-align: super;
}

/*-------------------------------------------------> Конец SIDEBAR <--------------------------------------------------------------*/

/*-------------------------------------------------> Начало PRODUCTS <-------------------------------------------------------------*/

.products {
  max-width: 1170px;
  margin: 0 auto;
  font-family: opensans, sans-serif;
}

.products-title {
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 27px;
}

.products-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 7px auto 0;
}

.products-posts {
  display: flex;
  margin-bottom: 64px;
}

.product:nth-child(-n + 2) {
  margin-right: 65px;
}

.product {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.product-pic {
  display: flex;
  justify-content: center;
}

.product-frame {
  margin-top: -30px;
  padding:  0 20px 27px 20px;
  border: 3px solid rgba(214, 202, 165, 0.6);

  flex-grow: 1;
}

.product-title {
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 3px;
  font-size: 20px;
}

.product-description {
  font-size: 15px;
}

.link-product {
  text-decoration: none;
  color: #b59f5b;
}

.link-product:hover {
  text-decoration: underline;
}

.product-price {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;

  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-size: 20px;
}

.product--price-old {
  text-decoration: line-through;
  font-size: 14px;
}

.product-button {
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;

  border: none;
  outline: none;
}

.product-button:hover {
  background-color: #323232;
}

/*--------------------------------------------------> Конец PRODUCTS <---------------------------------------------------------------*/

/*--------------------------------------------------> Начало FOOTER <----------------------------------------------------------------*/

.social {
  display: flex;
  justify-content: center;

  max-width: 1170px;
  margin: 0 auto;

  padding-top: 31px;
  padding-bottom: 31px;

  background-color: #f4f7f6;
}

.icon {
  list-style-type: none;
  display: flex;
  padding-left: 36px;
  padding-top: 5px;
}

.icon-list {
  display: flex;
  flex-direction: row;
  width: 19px;
  height: 23px;
  margin-right: 30px;
}

.icon-link {
  width: 19px;
  height: 23px;
}

.dribbble {
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
}

.pinterest {
  background-image: url("../svg/002-pinterest.svg");
  background-repeat: no-repeat;
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
  background-repeat: no-repeat;
}

.copyright {
  text-align: center;
  margin-top: 71px;
  margin-bottom: 40px;
}

.copyright-link {
  text-decoration: none;

  font-family: opensans, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #999999;
}

/*---------------------------------------------------> Конец FOOTER <----------------------------------------------------------------*/

/*---------------------------------------------------> Начало MEDIA-TABLET <---------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 1199px) {

  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .header-intro {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-top: 42px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .header-title {
    width: 615px;
    font-size: 40px;
    line-height: 55px;

    padding-top: 90px;
    padding-bottom: 115px;
  }

  .header-intro-logo {
    width: 158px;
  }

  .header-intro-nav {
    display: none;
  }

  .button-nav {
    display: block;
    position: relative;
    width: 23px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 5px;
  } 

  .nav-burger {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }

  .button-nav:before,
  .button-nav:after {
    content:'';
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
  }

  .button-nav:before {
    top: 0px;
  }

  .button-nav:after {
    bottom: 0;
  }

  .trends {
    margin: 0;
  }

  .trends-posts {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .trends-title {
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 18px;
  }

  .trends-title:after {
    margin: 7px auto 0;
  }

  .trend {
    width: 49.8%;
    min-height: 248px;
    margin-bottom: 3px;
  }

  .trend:nth-child(-n + 3) {
    margin-right: 0; 
 }

  .trend-frame {
    flex-grow: 1;
    padding: 29px;
 } 

  .trend-link {
    font-size: 17px;
    line-height: 22px;
    margin-top: 7px;
 }

  .main {
    justify-content: center;
    margin: 47px 35px 61px 35px;
 }

  .content {
    max-width: 600px;
    margin-right: 35px;
 }

  .content-column {
    flex-direction: column;
 }

  .content-column:not(:first-child) {
    margin-top: 40px;
 }

  .content-picture {
    width: 100%;
 }

  .content-frame {
    width: 100%;
    padding-left: 0;
 }

  .content-cotegory {
    padding-top: 10px;
    padding-bottom: 7px;
 }

  .cook {
    padding-top: 6px;
    padding-bottom: 0;
 }

  .content-link {
    font-size: 17px;
    line-height: 22px;
 }

  .time-author {
    margin-top: 24px;
    margin-bottom: 27px;
 }

  .content-column:nth-child(n):not(:last-child):after { 
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 20px;
 }

  .content-text-enter {
    padding-bottom: 13px;
    line-height: 20px;
}

  .sidebar {
    width: 271px;
    margin-right: 0;
 }

  .post-frame {
    margin-left: 18px;
 } 

  .themes {
    margin-bottom: 5px;
  }

  .products {
    min-width: 698px;
    margin-right: 35px;
    margin-left: 35px;
 } 

  .products-title {
    font-size: 18px;
 }

  .products-posts {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;
 }

  .product:nth-child(-n + 2) {
    margin-right: 0;
 }  

  .product {
    width: 48.5%;
    margin-bottom: 28px;
 }

  .product-title {
    font-size: 17px;
    margin-top: 49px;
 }

  .product-description {
    font-size: 15px;
    line-height: 22px;
 }

  .product-frame {
    padding-bottom: 22px;
  }

  .product-price {
    padding-top: 22px;
    align-items: center;
 }

  .social {
    max-width: 100%;
    margin-left: 35px;
    margin-right: 35px;
 }

  .copyright {
    margin-top: 50px;
    margin-bottom: 36px;
 }

  .popup-close {
    top: -35px;
    width: 27px;
    height: 27px;
 }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
  .trend {
    width: 24.8%;
  }
}

/*---------------------------------------------------> Конец MEDIA-TABLET <---------------------------------------------------------*/

/*---------------------------------------------------> Начало MEDIA-MOBILE <--------------------------------------------------------*/

@media (max-width: 767px) {

  .header {
    background-image: url("../images/banner-mobile.jpg");
  }

  .header-intro {
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
  }

  .header-intro-logo {
    margin-top: 174px;
    width: 270px;
  }

  .header-intro-nav {
    display: none;
  }

  .button-nav {
    margin-left: auto;
  } 

  .header-title {
    width: 280px;

    font-size: 26px;
    line-height: 36px;

    padding-top: 34px;
    padding-bottom: 210px;
    margin-left: 42px;
  }

  .button-nav {
    display: block;
    position: relative;
    width: 23px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;

    margin-top: 2px;
  } 

  .nav-burger {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }

  .button-nav:before,
  .button-nav:after {
    content:'';
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
  }

  .button-nav:before {
    top: 0px;
  }

  .button-nav:after {
    bottom: 0;
  }
  
  .trends {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .trends-posts {
    flex-wrap: wrap;
  }

  .trends-title {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .trend {
    width: 100%;
    min-height: 232px;
    margin-bottom: 2px;
  }

  .trend:nth-child(-n + 3) {
    margin-right: 0; 
  }

  .trend-frame {
    padding: 27px 19px;
    margin: 15px;
  }

  .trend-link {
    font-size: 16px;
    line-height: 20px;
  }

  .main {
    flex-direction: column;
    margin-top: 44px;
    margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .content {
    width: 100%;
    margin-bottom: 62px;
    margin-right: 0;
  }

  .content-column {
    flex-direction: column;
  }

  .content-column:nth-child(n + 2) {
    margin-top: 31px;
 }

  .content-picture {
    width: 100%;
 }

  .content-frame {
    width: 100%;
    padding-left: 0;
 }

  .content-cotegory {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 7px;
 }

  .content-link {
    font-size: 16px;
    line-height: 20px;
 }

  .time-author {
    margin-top: 10px;
    margin-bottom: 13px;
 }

  .content-text {
    font-size: 14px;
    line-height: 20px;
 }

  .content-column:nth-child(n):not(:last-child):after { 
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 22px;
 }

  .sidebar {
    width: 100%;
    margin-right: 0;
 }

  .post-frame {
    margin-left: 19px;
 }

  .sidebar-title {
    font-size: 16px;
 }

  .sidebar-title:after {
    margin: 8px auto 0;
 }

  .search {
    margin-top: 80px;
 }

  .sidebar-subscribe {
    margin-top: 40px;
 }

  .sidebar-tags {
    margin-top: 40px;
 }

  .tags-list {
    padding: 5px 12px;
 }

  .themes {
    margin-bottom: 8px;
 }

  .sidebar-themes {
    margin-top: 34px;
 }

  .products {
    margin-right: 15px;
    margin-left: 15px;
 }

  .products-title {
    font-size: 16px;
    margin-bottom: 30px;
 }

  .products-posts {
    flex-wrap: wrap;
    margin-bottom: 16px;
 }

  .product:nth-child(-n + 2) {
    margin-right: 0;
 }  

  .product {
    width: 100%;
    margin-bottom: 25px;
 }

  .product-frame {
    padding: 0 20px 27px 17px;
  }

  .product-title {
    font-size: 17px;
    margin-top: 47px;
 }

  .product-description {
    font-size: 15px;
    line-height: 20px;
 }

  .social {
    margin-left: 15px;
    margin-right: 15px;
 }

  .copyright {
    margin-top: 39px;
    margin-bottom: 47px;
 }

  .popup-container {
    width: 330px;
    padding: 30px 25px;
    font-size: 13px;
 }

  .popup-title {
    font-size: 16px;
 }

  .popup-close {
    top: -35px;
    width: 28px;
    height: 28px;
 }
}

@media (max-width: 767px) and (orientation: landscape) {
  .trend {
    width: 49.7%;
    margin-bottom: 2px;
  }

  .trend:nth-child(-n + 3) {
    margin-right: 0px; 
 }

 .trend:nth-child(odd) {
    margin-right: 2px; 
 }
}
/*---------------------------------------------------> Конец MEDIA-MOBILE <--------------------------------------------------------*/

